button {
    margin: 10px auto 10px auto;
    font-size: 29px;
    font-family: 'Lobster', cursive;
    height: 100px;
    width: 300px;
    background-color: #F02A71;
    border-radius: 30px;
    border: 3px solid white;
}

html {
    min-height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

input {
    margin-top: 0px;
}

h1 {
    display: block;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    color: #F02A71;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

h2 {
    margin: 20px auto auto auto;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}



#color {
    width: 40px;
}

#color-options {
    line-height: 40px;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    font-size: 20px;
    
}

#left-container {
    display: flex;
    float: left;
    margin-left: 17vw;
    flex-direction: column;
    justify-content: space-between;
    width: 40vh;
    font-family: 'Lobster', cursive;
    
}

#newSizeRange {
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin-left: auto;
    margin-right: auto;
    height: 41vw;
    width: 41vw;
    background-color: white;
    border: 3px solid gray;
}

.grid-item {
    text-align: center;
    border: 1px solid rgba(53, 53, 53, 0.07);
}

