button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

html {
    min-height: 100%;
    background-size: cover;
    background-color: #F0F1F4;
}

input {
    display: block;
    margin: 15px auto auto auto;
    text-align: center;
    width: 210px;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#color {
    width: 65px;
}

#color-options {
    line-height: 40px;
}

#left-container {
    display: flex;
    float: left;
    margin-left: 17vw;
    flex-direction: column;
    
}

.container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 45vw;
    width: 45vw;
    background-color: white;
    border: 3px solid gray;
}

.grid-item {
    text-align: center;
    border: 1px solid rgba(255, 5, 68, 0.1);
}